/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2020, 4:41:38 PM
    Author     : Mahmoud_abusaqer
*/
.button{
    -fx-background-color:  #f0f7ff;
}
.button:hover{
    -fx-background-color: #caccd1;
}
#nextPageButton{
    -fx-background-color:  #b4a996;
}
#nextPageButton:hover{
    -fx-background-color: #c4dff6;
}
#background{
    -fx-background-color: rgba(0, 0, 0, 0.7);
}
#signOut{
    -fx-text-fill: #ffffff;
    -fx-background-color: #990033;
}
#signOut:hover{
    -fx-background-color: #fd5c63;
}
#login{
    -fx-background-color: #E45652;
}
#user{
    -fx-background-color: #520099;
}
#login:hover{
    -fx-background-color: #ff4c4c;
}
#user:hover{
    -fx-background-color: #7d3f98;
}